<%= link_to url: root_path do %>
    <h1>Rotten Mangoes</h1>
<% end %>
<%= link_to "Submit a movie!", new_movie_path %><br><br>
<%= render 'search_form' %><br>
<hr>
<%= render partial: "movie", collection: @movies %>
